<header class="header__menu">
  <nav>
    <ul class="list">
      <li class="item__list logo"><img src="../../../assets/images/logo.svg" alt="logo"/></li>
      <li class="item__list">Collections</li>
      <li class="item__list">Men</li>
      <li class="item__list">Women</li>
      <li class="item__list">About</li>
      <li class="item__list">Contact</li>
    </ul>

    <section class="header__actions">
      <img src="../../../assets/images/icon-cart.svg" alt="img cart">
      <img class="header__avatar" src="../../../assets/images/image-avatar.png" alt="img avatar">
    </section>
  </nav>
</header>
